
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: skyblue;
}

/* Navbar */
.logo {
    width: 64px;
}

.navbar_photo_profil {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}

.navbar_droite {
    display: flex;
    flex-direction: column;
}

/* Fin Navbar */

main {
    flex: 1;
    padding: 5px;
}

/* Profil */
.profil-haut {
    display: flex;
    align-items: stretch; /* important pour que les enfants prennent la même hauteur */
    gap: 20px;
}

.profil_bloc_photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 300px;
    gap: 10px;
}

.photo_profil {
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}

.btn_upload {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.2s;
    margin-top: 10px;
}

.btn_upload:hover {
    background-color: #0056b3;
}

.profil_haut_droite {
    flex: 2; /* un peu plus de place que la photo */
}


/* Tableau */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

thead {
    background-color: #007BFF;
    color: white;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}
tbody td{
    text-align: center;
}
/* Fin Tableau */

/* Liens */
a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
/* Fin Liens */

footer {
    background-color: #fff;
    height: 2em;
}

.imopcsv input{
    background-color: transparent;
    border: none;
    margin-top: 10px;
    padding-left: 0;
}

form *{
    width: 100%;

}

form input{
    height: 30px;
}


#participant > div:nth-child(5)>div {
    display: inline-flex;
    border: 1px solid white;
}

#participant > div:nth-child(6) {
    display: inline-flex;
    border: 1px solid white;
}
#participant > div:nth-child(7) {
    display: inline-flex;
    border: 1px solid white;
}
#participant > div:nth-child(8) {
    display: inline-flex;
    border: 1px solid white;
}