{% extends 'base.html.twig' %}

{% block title %}Edit GroupePrive{% endblock %}

{% block body %}
    <h1>Edit GroupePrive</h1>

    {{ include('groupe_prive/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_groupe_prive_index') }}">back to list</a>

    {{ include('groupe_prive/_delete_form.html.twig') }}
{% endblock %}
